.blog {
    width: 100%;
    height: 100%;
    background: url('./assets/images/bg/blog__sec.png') center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.part__photo {
    @include tablets {
        display: block;
        width: 25%;
        margin-right: 20px;
    }
    @include phone320 {
        display: none;
    }
}

.part__photo-img {
    width: 150px;
    height: 120px;
    margin: 0 auto;
    border: 1px solid gray;
}

.part__content {
    @include tablets {
        width: 75%;
    }
    @include phone320 {
        width: 100%;
    }
}

.article {
    text-transform: none;
    width: 90%;
    text-align: left;
    @include tablets {
        display: flex;
        margin: 20px auto;
    }
    @include phone320 {
        display: block;
    }
}

.article__text {
    font-size: 13px;
}
.article__heading {
    font-size: 20px;
    font-weight: 700;
}
.article__date {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
    &-lh {
        text-transform: uppercase;
    }
    &-rh {
        text-transform: uppercase;
    }
}

.retro-car {
    background: url('./assets/images/blog/retro-car.jpg') center no-repeat;
    background-size: cover;
}

.retro-road {
    background: url('./assets/images/blog/retro-road.jpg') center no-repeat;
    background-size: cover;
}

.retro-gas {
    background: url('./assets/images/blog/retro-gas.jpg') center no-repeat;
    background-size: cover;
}