.blog {
    width: 100%;
    background: url('./assets/images/bg/blog__sec.png');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.part__photo {
    display: none;
    @include tablets {
        display: block;
        width: 25%;
        margin-right: 20px;
    }
    @include laptop {
        width: 30%;
    }
}

.part__photo-img {
    width: 150px;
    height: 120px;
    margin: 0 auto;
    border: 1px solid gray;
    @include laptop {
        width: 230px;
        height: 170px;
    }
    @include desktop {
        width: 250px;
    }
}

.part__content {
    width: 100%;
    @include tablets {
        width: 75%;
    }
    @include laptop {
        width: 70%;
    }
}

.article {
    text-transform: none;
    width: 90%;
    text-align: left;
    display: block;
    @include tablets {
        display: flex;
        margin: 20px auto;
    }
}

.article__text {
    font-size: 13px;
    @include laptop {
        font-size: 17px;
        line-height: 1.5;
    }
}

.article__heading {
    font-size: 20px;
    font-weight: 700;
    @include laptop {
        font-size: 26px;
    }
}

.article__line {
    display: block;
    width: 40px;
    height: 1px;
    background-color: #3a3a3a;
    margin: 10px 0;
}

.article__date {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
/*     &::after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        margin-top: 5px;
        background-color: black;
    } */
    &-lh {
        text-transform: uppercase;
        display: flex;
        @include desktop {
            width: 78%;
        }
    }
    &-rh {
        text-transform: uppercase;
        background: transparent;
        border: none;
        padding: 0;
        font-weight: 600;
        cursor: pointer;
        @include desktop {
            margin-bottom: 13px;
        }
    }

    @include laptop {
        font-size: 16px;
    }
    @include desktop {
        display: flex;
    }
}

.post-user {
    &::before {
        content: "//";
        display: inline-block;
    }
    &::after {
        content: "//";
        display: inline-block;
    }
}

.retro-car {
    background: url('./assets/images/blog/retro-car.jpg') center no-repeat;
    background-size: cover;
}

.retro-road {
    background: url('./assets/images/blog/retro-road.jpg') center no-repeat;
    background-size: cover;
}

.retro-gas {
    background: url('./assets/images/blog/retro-gas.jpg') center no-repeat;
    background-size: cover;
}