.contacts {
    width: 100%;
    background: url('./assets/images/bg/contacts__sec.png') center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.heading-block__form {
    color: #fff;
    &-head {
        color: #fff;
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.78);
    }
}

.input {
    border-radius: 4px;
    padding: 10px;
    border: none;
    margin: 5px 0;
    width: 100%;
    @include tablets {
        width: 430px;
    }
    @include laptop {
        width: 450px;
    }
}

.form {
    margin: 0 auto 30px auto;
    width: 90%;
    text-align: center;
    display: block;
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form__area {
    resize: none;
    height: 200px;
    margin-bottom: 15px;
}

.form__button {
    border: none;
    height: 30px;
    width: 135px;
    border-radius: 4px;
    background-color: #fff;
    @include laptop {
        width: 150px;
        height: 40px;
    }
}

.social__desc {
    text-align: center;
    color: #fff;
    font-family: 'Bazar';
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    &::after {
        content: "";
        display: block;
        border: 1px solid #fff;
        width: 50px;
        margin: 0 auto;
        margin-top: 5px;
    }
    @include laptop {
        font-size: 26px;
    }
}

.socials__list {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.socials__img {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 4px;
    @include laptop {
        width: 70px;
    }
}