.header {
    background: url('./assets/images/bg/header.png') center no-repeat;
    position: relative;
    height: 85px;
    box-shadow: 1px 0px 3px black;
    text-align: center;
    padding: 0 5px;
}

.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__item {
    display: inline-block;
    margin: 5px;
}

.header__link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
}

.header__logo {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.hamburger-menu {
    position: fixed;
    top: 2%;
    right: 4%;
    cursor: pointer;
}

.hambgurger-line {
    width: 32px;
    border-radius: 1px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
}