section.about.section
    .heading-block
        h1.heading-block__main About me
        span.heading-block__xxx  xxx 
        span.heading-block__desc I am graphic designer from baltimore
    .container
        .about__interests
            .interests
                ul.interests__list
                    li.interests__item
                        .interests__item-circle
                            img.interests__item-svg(src="src/assets/images/icons/about_tv.svg", alt="")
                        .interests-block
                            h4.interests-block__heading Movies
                            span.interests-block__desc What I watch
                            p.interests-block__info Clutter is honest! I do believe that has to the users selfexpression. Care. Things which is a projector operating system such formats are deep and profound and meaningful. It's the traditions of data. Good design should be different levels. There's no rational alternative. That's come to complexity.
                    li.interests__item
                        .interests__item-circle
                            img.interests__item-svg(src="src/assets/images/icons/about_vinyl.svg", alt="")
                        .interests-block
                            h4.interests-block__heading Music
                            span.interests-block__desc What I listen
                            p.interests-block__info Good design. The content, you'll love powerpoint should be different. It's about design is that part? Good design is making something looks. And aesthetic. And colour defines your interface. That cannot be overtly different. That has to chance. And restrained, low resolution, but you get rid of materials.
                    li.interests__item
                        .interests__item-circle
                            img.interests__item-svg(src="src/assets/images/icons/about_t-shirt.svg", alt="")
                        .interests-block
                            h4.interests-block__heading Clothes
                            span.interests-block__desc What I wear
                            p.interests-block__info Very honest approach and product. The other product that changes function like the absence of function. And frustrating that products that it's the functional imperative, we kept going and frustrating that we are about bringing order to be better and less complicated to understand.
                    li.interests__item
                        .interests__item-circle
                            img.interests__item-svg(src="src/assets/images/icons/about_food.svg", alt="")
                        .interests-block
                            h4.interests-block__heading Food
                            span.interests-block__desc What I eat
                            p.interests-block__info Simplicity. Its context. From so many different levels. There's real simplicity is. Designing and place of the objects we're surrounded by seem trivial. There's no rational alternative. I think that's a very complicated problems without letting people have a very easy to mean so much that acknowledges.
            