section.about.section
    .heading-block
        h1.heading-block__main About me
        span.heading-block__xxx  xxx 
        span.heading-block__desc I am graphic designer from baltimore
    .container
        .about__interests
            .interests
                