section.blog.section
    .heading-block
        h1.heading-block__main My blog
        span.heading-block__xxx  xxx 
        span.heading-block__desc News from my house
    .container
        article.article.article__magic
            .part__photo
                .part__photo-img.retro-car
            .part__content
                h4.article__heading The magic wheel
                .article__date
                    .article__date-lh July 28,2017//admin//fun,travels,friends
                    .article__date-rh 1 response
                span.article__line
                p.article__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam in vitae porro eligendi blanditiis facere incidunt minima iste, rerum ut at officia amet quibusdam! Earum doloribus corrupti esse qui praesentium!
        article.article.article__lonely
            .part__photo
                .part__photo-img.retro-road
            .part__content
                h4.article__heading The lonely road
                .article__date
                    .article__date-lh July 28,2017//admin//fun,travels,friends
                    .article__date-rh 3 responses
                span.article__line
                p.article__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam in vitae porro eligendi blanditiis facere incidunt minima iste, rerum ut at officia amet quibusdam! Earum doloribus corrupti esse qui praesentium!
        article.article.article__gasoline
            .part__photo
                .part__photo-img.retro-gas
            .part__content
                h4.article__heading I love gasoline smell
                .article__date
                    .article__date-lh July 28,2017//admin//fun,travels,friends
                    .article__date-rh 3 responses
                span.article__line
                p.article__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam in vitae porro eligendi blanditiis facere incidunt minima iste, rerum ut at officia amet quibusdam! Earum doloribus corrupti esse qui praesentium!
        button.browse-all__btn Show all posts