section.contacts.section
    .heading-block.heading-block__form
        h1.heading-block__main.heading-block__form-head Contact me
        span.heading-block__xxx.heading-block__xxx--white  xxx 
        span.heading-block__desc I'll be glad to answer your question
    .container
        form.form
            label(for="name")
                input.input.form__name#name(type="text" placeholder="Name")
            label(for="mail")
                input.input.form__mail#mail(type="text" placeholder="Email address")
            label(for="subj")
                input.input.form__subj#subj(type="text" placeholder="Subject")
            label(for="textarea")
                textarea.input.form__area#textarea(placeholder='Your message')
            button.form__button(type="submit") Send Message
        .social__desc I am social

        .contacts__socials
            .socials
                ul.socials__list
                    li.socials__item
                        a.socials__link(href="#0")
                            img.socials__img(src="src/assets/images/icons/soc_fb.svg", alt="социальная иконка фейсбук")
                    li.socials__item
                        a.socials__link(href="#0")
                            img.socials__img(src="src/assets/images/icons/soc_google.svg", alt="социальная иконка гугл")
                    li.socials__item
                        a.socials__link(href="#0")
                            img.socials__img(src="src/assets/images/icons/soc_in.svg", alt="социальная иконка линкедин")
                    li.socials__item
                        a.socials__link(href="#0")
                            img.socials__img(src="src/assets/images/icons/soc_inst.svg", alt="социальная иконка инстаграм")
                    li.socials__item
                        a.socials__link(href="#0")
                            img.socials__img(src="src/assets/images/icons/soc_tw.svg", alt="социальная иконка твиттер")
                    