header.header
    nav.header__nav
        ul.header__list
            li.header__item
                a.header__link(href="#") About me
            li.header__item
                a.header__link(href="#") My Portfolio
            li.header__item
                a.header__link(href="#0")
                    img(src="src/assets/images/icons/header_logo.png", alt="").header__logo
            li.header__item
                a.header__link(href="#") My blog
            li.header__item
                a.header__link(href="#") Contact me
