section.hero
    h1.hero__title.visually-hidden Retro
    img(src="src/assets/images/icons/hero_retro.png", alt="ретро главный лого").hero__title-pic
    h2.hero__subtitle Old style portfolio
    .hero__slider
        .slider
            .slider__window
                ul.slider__list
                    li.slider__item
                        img.slider__img(src="", alt="")
                    li.slider__item
                        img.slider__img(src="", alt="")
                    li.slider__item
                        img.slider__img(src="", alt="")
                    li.slider__item
                        img.slider__img(src="", alt="")
                    li.slider__item
                        img.slider__img(src="", alt="")
            .slider__control
                button.slider__btn#slider__left-btn <
                button.slider__btn#slider__right-btn >
            
    .hero__quote "Hello, I am John Doe welcome to retro, my wonderful theme"
