section.portfolio.section
    .heading-block
        h1.heading-block__main Portfolio
        span.heading-block__xxx  xxx 
        span.heading-block__desc.portf-desc Simplicity is the ultimate sophistication
    .container
        .portfolio-filter
            span.portfolio-filter__heading Filter by:
            button.portfolio-filter__tag(type="button", data-tag="cars") • cars
            button.portfolio-filter__tag(type="button", data-tag="girls") • girls
            button.portfolio-filter__tag(type="button", data-tag="interior") • interior
            button.portfolio-filter__tag(type="button", data-tag="music") • music
            button.portfolio-filter__tag(type="button", data-tag="city") • city
            button.portfolio-filter__tag(type="button", data-tag="animals") • animals
            button.portfolio-filter__tag(type="button", data-tag="cola") • cola
            button.portfolio-filter__tag(type="button", data-tag="camera") • camera
        .gallery
            
        button.browse-all__btn(data-count="0") Browse all