section.portfolio.section
    .heading-block
        h1.heading-block__main Portfolio
        span.heading-block__xxx  xxx 
        span.heading-block__desc.portf-desc Simplicity is the ultimate sophistication
    .container
        .portfolio-filter
            span.portfolio-filter__heading Filter by:
            button.portfolio-filter__tag • design
            button.portfolio-filter__tag • logo
            button.portfolio-filter__tag • photography
            button.portfolio-filter__tag • retro
            button.portfolio-filter__tag • t shirt
            button.portfolio-filter__tag • resource
            button.portfolio-filter__tag • videos
        .gallery
            ul.gallery__list
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name Galleries are funny
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name A vismeo feel
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name Love for old cameras
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name Setaled project face
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name Youtube video
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name Another ext link
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name A lightbox image
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
                li.gallery__item
                    .bottom-block
                        span.bottom-block__name The dark tempest
                        .bottom-block__circle
                            img(src="src/assets/images/icons/gallery-icons/gallery.svg", alt="").bottom-block__img
            
            button.browse-all__btn Browse all