section.portfolio.section
    .heading-block
        h1.heading-block__main Portfolio
        span.heading-block__xxx  xxx 
        span.heading-block__desc.portf-desc Simplicity is the ultimate sophistication
    .container
        .portfolio-filter
            span.portfolio-filter__heading Filter by:
            button.portfolio-filter__tag • cars
            button.portfolio-filter__tag • girls
            button.portfolio-filter__tag • interior
            button.portfolio-filter__tag • music
            button.portfolio-filter__tag • city
            button.portfolio-filter__tag • animals
            button.portfolio-filter__tag • cola
            button.portfolio-filter__tag • camera
        .gallery
            
        button.browse-all__btn(data-count="0") Browse all