
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Retro site 
        link(href="normalize.css")
    body
        header.header
            ul.header__list
                li.header__item
                    a.header__link(href="#") About me
                li.header__item
                    a.header__link(href="#") Portfolio
                li.header__item
                    .header__circle
                        img(src="src/assets/images/icons/hero_logo.png", alt="").header__logo
                        span.header__logo-text JD
                li.header__item
                    a.header__link(href="#") My blog
                li.header__item
                    a.header__link(href="#") Contact me
            .dashed-lines
                .dashed-lines__top
                .dashed-lines__bottom
        main.wrapper
            .section.section-hero
                .dashed-lines.dashed-lines__hero-top
                    .dashed-lines__top
                    .dashed-lines__bottom

                img(src="src/assets/images/icons/hero_retro.png", alt="ретро логотип").hero__logo-text
                .hero__ribbon 
                    img(src="src/assets/images/icons/hero_title.png", alt="").hero__ribbon-img
                    span.hero__ribbon-text Old style portfolio
                .hero__slider
                    .slider-arrows
                        .left-arrow
                            a.left-arrow__btn <
                        .right-arrow
                            a.right-arrow__btn >
                .slider__bottom
                    span.slider__bottom-text Kodak camera
                h2.hero__quote "Hello, I am John Doe welcome to retro, my wonderful theme"
                .dashed-lines.dashed-lines__hero-bottom
                    .dashed-lines__top
                    .dashed-lines__bottom
            .section-about
                .about__heading
                    h1.about__heading-main About me
                    p.about__heading-xxx  xxx 
                    p.about__heading-desc I am graphic designer from baltimore
                ul.about__list
                    li.about__item
                        .about__item-circle
                            img.about__item-svg(src="src/assets/images/icons/about_tv.svg", alt="")
                        .item-block
                            h4.item-block__heading Movies
                            p.item-block__desc What I watch
                            p.item-block__border
                            p.item-block__info Clutter is honest! I do believe that has to the users selfexpression. Care. Things which is a projector operating system such formats are deep and profound and meaningful. It's the traditions of data. Good design should be different levels. There's no rational alternative. That's come to complexity.
                    li.about__item
                        .about__item-circle
                            img.about__item-svg(src="src/assets/images/icons/about_vinyl.svg", alt="")
                        .item-block
                            h4.item-block__heading Music
                            p.item-block__desc What I listen
                            p.item-block__border
                            p.item-block__info Good design. The content, you'll love powerpoint should be different. It's about design is that part? Good design is making something looks. And aesthetic. And colour defines your interface. That cannot be overtly different. That has to chance. And restrained, low resolution, but you get rid of materials.
                    li.about__item
                        .about__item-circle
                            img.about__item-svg(src="src/assets/images/icons/about_t-shirt.svg", alt="")
                        .item-block
                            h4.item-block__heading Clothes
                            p.item-block__desc What I wear
                            p.item-block__border
                            p.item-block__info Very honest approach and product. The other product that changes function like the absence of function. And frustrating that products that it's the functional imperative, we kept going and frustrating that we are about bringing order to be better and less complicated to understand.
                    li.about__item
                        .about__item-circle
                            img.about__item-svg(src="src/assets/images/icons/about_food.svg", alt="")
                        .item-block
                            h4.item-block__heading Food
                            p.item-block__desc What I eat
                            p.item-block__border
                            p.item-block__info Simplicity. Its context. From so many different levels. There's real simplicity is. Designing and place of the objects we're surrounded by seem trivial. There's no rational alternative. I think that's a very complicated problems without letting people have a very easy to mean so much that acknowledges.

