@import 'normalize.css';
@import './assets/scss/common.scss';
@import './assets/fonts/retrofonts.css';
@import './assets/scss/header.scss';
@import './assets/scss/hero-sec.scss';
@import './assets/scss/about-sec.scss';
@import './assets/scss/portfolio-sec.scss';


* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Bazar';
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.heading-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__main {
        color: #000;
        font-size: 32px;
        font-weight: 400;
        margin: 0 0;
        text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.47);
    }
    &__xxx {
        margin: 3px;
        font-size: 12px;
        display: none;
    }
    &__desc {
        margin: 5px 0;
        font-size: 12px;
    }
}

